<div class="row">
  <div class="row forms mb-5">
    <div class="col-6">
      <form [formGroup]="addTaskForm" (submit)="addTask()" name="addTaskForm">
        <div class="form-group">
          <input formControlName="name" type="text" class="form-control" placeholder="Add task">
        </div>
      </form>
    </div>
    <div class="col-6">
      <form action="">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
      </form>
    </div>
  </div>
  <div class="col-12 col-md-8 offset-md-2 tasks">Tasks:&nbsp;
    <div class="tasks-head row">
      <div class="col-1 id">ID</div>
      <div class="col-9 name">Name</div>
      <div class="col-2 actions">Actions</div>
    </div>
    <div class="task row" *ngFor="let task of tasks" [class.done]="task.is_done">
      <div class="col-1 id">{{task.id}}</div>
      <div class="col-9 name">{{task.name}}</div>
      <div class="col-2 actions">
        <button (click)="done(task)" [disabled]="task.is_done" class="btn btn-outline-success">
          <fa-icon [icon]="faCheck"></fa-icon>
        </button>&nbsp;
        <button (click)="delete(task)" type="button" class="btn btn-outline-danger">
          <fa-icon [icon]="faTrash"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</div>
